<div class="container-fluid cont">
    <div class="row justify-content-center">
        <div class="col-12 no-pad">
            <img [src]="producto" />
        </div>
    </div>
    <div class="row">
        <div class="col-6 mt-3">
            <h5>HOLA</h5>
        </div>
        <div class="col-12 mt-1">
            <p>Texto es un conjunto de enunciados que permite dar un mensaje coherente y ordenado, ya sea de manera
                escrita o a través de la palabra. Se trata de una estructura compuesta por signos y una escritura
                determinada que da espacio a una unidad con sentido.</p>
        </div>


    </div>
</div>