/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'MiFuente';
  src: url(assets/fuente/iiiiii.otf);
}

* {
  font-family: 'MiFuente';
}

/* Importing Bootstrap SCSS file. */