<div class="container">
	<div class="row mt-5">



		<div class="col-lg-7 text-center">
			<img class="img-thumbnail"
				src="{{ productos?.imagen ? imgURL + productos?.imagen : 'assets/images/producto.png' }}" width="350" />

		</div>
		<div class="col-lg-5" *ngIf="productos">
			<h2>{{ productos.Nombre }}</h2>
			<p>{{ productos.Descripcion }}</p>
			<p>Precio: €{{ productos.Precio }}</p>
			<!-- Otros detalles del producto -->
			<button *ngIf="isSignedIn" type="button" [routerLink]="['/producto/shopping/', id]"
				class="btn btn-outline-dark mt-3">Comprar</button>

		</div>



	</div>
</div>